.card {
  padding: 15px;
}

.hastag {
  display: grid;
  height: 100%;
  gap: 3px;
  background-color: var(--color-third);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.hastag > .item {
  background-color: var(--color-zero);
  display: flex;
  justify-content: center;
}
